*.egg-info/
.*.swp
*.o
*.pyc
*.pyd
*.so
*,cover
.cache/
.eggs/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/
htmlcov/
oprofile_data/
.coverage
.gdb_history
.venv/
.coverage*
.python-version
.vscode/
.nox/
