name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.5", "3.6", "3.7", "3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -mpip install --upgrade pip setuptools wheel coverage &&
        python -mpip install . &&
        python -mpip list
    - name: Test
      run: |
        pyver="$(python -c 'import sys; print("{0.major}.{0.minor}".format(sys.version_info))')" &&
        COVERAGE_FILE=".coverage.$pyver" python -mcoverage run --append --module unittest --buffer &&
        # Oldest supported versions.
        python -mpip install docutils==0.12 sphinxcontrib-napoleon==0.7.0 &&
        if [[ "$pyver" = 3.5 || "$pyver" = 3.6 || "$pyver" = 3.7 ]]; then
          python -mpip install typing_extensions==3.7.4 typing_inspect==0.5.0
        fi &&
        COVERAGE_FILE=".coverage.$pyver" python -mcoverage run --append --module unittest --buffer
    - name: Upload coverage
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: .coverage.*

  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Download
      uses: actions/download-artifact@v2
      with:
        name: coverage
    - name: Run
      run: |
        shopt -s globstar &&
        python -mpip install --upgrade coverage &&
        python -mcoverage combine .coverage.* &&  # Unifies paths across envs.
        python -mcoverage annotate &&
        for f in **/*,cover; do
          if ! grep -q '^!' "$f"; then
            continue
          fi
          echo "$f" &&
          grep -nTC2 '^!' "$f"
        done &&
        python -mcoverage report --show-missing
